In [ ]:
!move "C:\Users\alsdu\Downloads\ticdata2000.txt" .
!move "C:\Users\alsdu\Downloads\ticeval2000.txt" .
!move "C:\Users\alsdu\Downloads\tictgts2000.txt" .

지정된 파일을 찾을 수 없습니다.
지정된 파일을 찾을 수 없습니다.
지정된 파일을 찾을 수 없습니다.

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
%ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: F6BC-EBBB

 C:\Users\alsdu\data_mining 디렉터리

2021-04-23  오후 12:43    <DIR>          .
2021-04-23  오후 12:43    <DIR>          ..
2021-04-23  오전 09:52    <DIR>          .ipynb_checkpoints
2021-04-23  오후 12:43             4,717 0418.ipynb
2021-04-23  오전 09:52            22,585 0418-Copy1.ipynb
2000-03-10  오후 12:10         1,011,973 ticdata2000.txt
2000-03-10  오후 12:11           687,304 ticeval2000.txt
2000-03-10  오후 01:12            12,000 tictgts2000.txt
               5개 파일           1,738,579 바이트
               3개 디렉터리  48,009,281,536 바이트 남음

In [ ]:
ticdata=pd.read_table("ticdata2000.txt",sep='\t' ,header =None )
ticeval=pd.read_table("ticeval2000.txt",sep='\t' ,header =None )
tictgts=pd.read_table("tictgts2000.txt",sep='\t' ,header =None )

In [ ]:
ticdata.shape , ticeval.shape ,  tictgts.shape

((5822, 86), (4000, 85), (4000, 1))

In [ ]:
ticeval.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 85 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4000 non-null   int64
 1   1       4000 non-null   int64
 2   2       4000 non-null   int64
 3   3       4000 non-null   int64
 4   4       4000 non-null   int64
 5   5       4000 non-null   int64
 6   6       4000 non-null   int64
 7   7       4000 non-null   int64
 8   8       4000 non-null   int64
 9   9       4000 non-null   int64
 10  10      4000 non-null   int64
 11  11      4000 non-null   int64
 12  12      4000 non-null   int64
 13  13      4000 non-null   int64
 14  14      4000 non-null   int64
 15  15      4000 non-null   int64
 16  16      4000 non-null   int64
 17  17      4000 non-null   int64
 18  18      4000 non-null   int64
 19  19      4000 non-null   int64
 20  20      4000 non-null   int64
 21  21      4000 non-null   int64
 22  22      4000 non-null   int64
 23  23      4000 non-null   int64
 24  24      4000 non-null   int64
 25  25      4000 non-null   int64
 26  26      4000 non-null   int64
 27  27      4000 non-null   int64
 28  28      4000 non-null   int64
 29  29      4000 non-null   int64
 30  30      4000 non-null   int64
 31  31      4000 non-null   int64
 32  32      4000 non-null   int64
 33  33      4000 non-null   int64
 34  34      4000 non-null   int64
 35  35      4000 non-null   int64
 36  36      4000 non-null   int64
 37  37      4000 non-null   int64
 38  38      4000 non-null   int64
 39  39      4000 non-null   int64
 40  40      4000 non-null   int64
 41  41      4000 non-null   int64
 42  42      4000 non-null   int64
 43  43      4000 non-null   int64
 44  44      4000 non-null   int64
 45  45      4000 non-null   int64
 46  46      4000 non-null   int64
 47  47      4000 non-null   int64
 48  48      4000 non-null   int64
 49  49      4000 non-null   int64
 50  50      4000 non-null   int64
 51  51      4000 non-null   int64
 52  52      4000 non-null   int64
 53  53      4000 non-null   int64
 54  54      4000 non-null   int64
 55  55      4000 non-null   int64
 56  56      4000 non-null   int64
 57  57      4000 non-null   int64
 58  58      4000 non-null   int64
 59  59      4000 non-null   int64
 60  60      4000 non-null   int64
 61  61      4000 non-null   int64
 62  62      4000 non-null   int64
 63  63      4000 non-null   int64
 64  64      4000 non-null   int64
 65  65      4000 non-null   int64
 66  66      4000 non-null   int64
 67  67      4000 non-null   int64
 68  68      4000 non-null   int64
 69  69      4000 non-null   int64
 70  70      4000 non-null   int64
 71  71      4000 non-null   int64
 72  72      4000 non-null   int64
 73  73      4000 non-null   int64
 74  74      4000 non-null   int64
 75  75      4000 non-null   int64
 76  76      4000 non-null   int64
 77  77      4000 non-null   int64
 78  78      4000 non-null   int64
 79  79      4000 non-null   int64
 80  80      4000 non-null   int64
 81  81      4000 non-null   int64
 82  82      4000 non-null   int64
 83  83      4000 non-null   int64
 84  84      4000 non-null   int64
dtypes: int64(85)
memory usage: 2.6 MB

In [ ]:
tictgts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4000 non-null   int64
dtypes: int64(1)
memory usage: 31.4 KB

In [ ]:
ticdata.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
            68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
            85],
           dtype='int64')

In [ ]:
ticdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5822 entries, 0 to 5821
Data columns (total 86 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5822 non-null   int64
 1   1       5822 non-null   int64
 2   2       5822 non-null   int64
 3   3       5822 non-null   int64
 4   4       5822 non-null   int64
 5   5       5822 non-null   int64
 6   6       5822 non-null   int64
 7   7       5822 non-null   int64
 8   8       5822 non-null   int64
 9   9       5822 non-null   int64
 10  10      5822 non-null   int64
 11  11      5822 non-null   int64
 12  12      5822 non-null   int64
 13  13      5822 non-null   int64
 14  14      5822 non-null   int64
 15  15      5822 non-null   int64
 16  16      5822 non-null   int64
 17  17      5822 non-null   int64
 18  18      5822 non-null   int64
 19  19      5822 non-null   int64
 20  20      5822 non-null   int64
 21  21      5822 non-null   int64
 22  22      5822 non-null   int64
 23  23      5822 non-null   int64
 24  24      5822 non-null   int64
 25  25      5822 non-null   int64
 26  26      5822 non-null   int64
 27  27      5822 non-null   int64
 28  28      5822 non-null   int64
 29  29      5822 non-null   int64
 30  30      5822 non-null   int64
 31  31      5822 non-null   int64
 32  32      5822 non-null   int64
 33  33      5822 non-null   int64
 34  34      5822 non-null   int64
 35  35      5822 non-null   int64
 36  36      5822 non-null   int64
 37  37      5822 non-null   int64
 38  38      5822 non-null   int64
 39  39      5822 non-null   int64
 40  40      5822 non-null   int64
 41  41      5822 non-null   int64
 42  42      5822 non-null   int64
 43  43      5822 non-null   int64
 44  44      5822 non-null   int64
 45  45      5822 non-null   int64
 46  46      5822 non-null   int64
 47  47      5822 non-null   int64
 48  48      5822 non-null   int64
 49  49      5822 non-null   int64
 50  50      5822 non-null   int64
 51  51      5822 non-null   int64
 52  52      5822 non-null   int64
 53  53      5822 non-null   int64
 54  54      5822 non-null   int64
 55  55      5822 non-null   int64
 56  56      5822 non-null   int64
 57  57      5822 non-null   int64
 58  58      5822 non-null   int64
 59  59      5822 non-null   int64
 60  60      5822 non-null   int64
 61  61      5822 non-null   int64
 62  62      5822 non-null   int64
 63  63      5822 non-null   int64
 64  64      5822 non-null   int64
 65  65      5822 non-null   int64
 66  66      5822 non-null   int64
 67  67      5822 non-null   int64
 68  68      5822 non-null   int64
 69  69      5822 non-null   int64
 70  70      5822 non-null   int64
 71  71      5822 non-null   int64
 72  72      5822 non-null   int64
 73  73      5822 non-null   int64
 74  74      5822 non-null   int64
 75  75      5822 non-null   int64
 76  76      5822 non-null   int64
 77  77      5822 non-null   int64
 78  78      5822 non-null   int64
 79  79      5822 non-null   int64
 80  80      5822 non-null   int64
 81  81      5822 non-null   int64
 82  82      5822 non-null   int64
 83  83      5822 non-null   int64
 84  84      5822 non-null   int64
 85  85      5822 non-null   int64
dtypes: int64(86)
memory usage: 3.8 MB

In [ ]:
ticdata.dtypes

0     int64
1     int64
2     int64
3     int64
4     int64
      ...
81    int64
82    int64
83    int64
84    int64
85    int64
Length: 86, dtype: object

In [ ]:
tictest= pd.concat([ticeval,tictgts], axis=1,ignore_index=True)
tictest.shape

(4000, 86)

In [ ]:
ticdata.shape   , tictest.shape

((5822, 86), (4000, 86))

In [ ]:
tic2000= pd.concat([ ticdata, tictest   ],axis=0, ignore_index=True)

In [ ]:
tic2000.shape

(9822, 86)

In [ ]:
tic2000.head(3)

,0,1,2,3,4,5,6,7,8,9,...,76,77,78,79,80,81,82,83,84,85
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,1,0,0,0,0,0,0
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
tic2000.info

<bound method DataFrame.info of       0   1   2   3   4   5   6   7   8   9   ...  76  77  78  79  80  81  82  \
0     33   1   3   2   8   0   5   1   3   7  ...   0   0   0   1   0   0   0
1     37   1   2   2   8   1   4   1   4   6  ...   0   0   0   1   0   0   0
2     37   1   2   2   8   0   4   2   4   3  ...   0   0   0   1   0   0   0
3      9   1   3   3   3   2   3   2   4   5  ...   0   0   0   1   0   0   0
4     40   1   4   2  10   1   4   1   4   7  ...   0   0   0   1   0   0   0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..  ..
9817  33   1   2   4   8   0   7   2   0   5  ...   0   0   0   1   0   0   0
9818  24   1   2   3   5   1   5   1   3   4  ...   0   0   0   1   0   0   0
9819  36   1   2   3   8   1   5   1   3   7  ...   0   0   0   1   0   0   0
9820  33   1   3   3   8   1   4   2   3   7  ...   0   0   0   0   0   0   0
9821   8   1   2   3   2   4   3   0   3   5  ...   0   0   0   1   0   0   0

      83  84  85
0      0   0   0
1      0   0   0
2      0   0   0
3      0   0   0
4      0   0   0
...   ..  ..  ..
9817   0   0   0
9818   0   0   1
9819   1   0   0
9820   0   0   0
9821   0   0   0

[9822 rows x 86 columns]>

In [ ]:
tic2000.iloc[:,[85]].value_counts()
#1은 모두 사용, 0은 임의추출
#0을 586 뽑으려면 가중치 15.7986

85
0     9236
1      586
dtype: int64

In [ ]:
tic2000.shape

(9822, 86)

In [ ]:
tic_null = tic2000.isnull().sum()
tic_null   # null 없음

0     0
1     0
2     0
3     0
4     0
     ..
81    0
82    0
83    0
84    0
85    0
Length: 86, dtype: int64

In [ ]:
tic2000.columns = ["컬럼명", "결측치수"]



for ( i in 1:ncol(tic2000) ) {
	names(tic2000)[i]<-names[i,]
	}





df.null_count.head()

SyntaxError: invalid syntax (<ipython-input-33-91f1b9388188>, line 5)

In [ ]:
tic2000.loc[1:3]

,0,1,2,3,4,5,6,7,8,9,...,76,77,78,79,80,81,82,83,84,85
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,0
3,9,1,3,3,3,2,3,2,4,5,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
tic2000.iloc[1:3]

,0,1,2,3,4,5,6,7,8,9,...,76,77,78,79,80,81,82,83,84,85
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
tic2000.head(5)

,0,1,2,3,4,5,6,7,8,9,...,76,77,78,79,80,81,82,83,84,85
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,1,0,0,0,0,0,0
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,0
3,9,1,3,3,3,2,3,2,4,5,...,0,0,0,1,0,0,0,0,0,0
4,40,1,4,2,10,1,4,1,4,7,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
tic2000.