<a href="https://colab.research.google.com/github/min02yam/DGU-data-mining/blob/main/%EC%83%98%ED%94%8C%EB%A7%81%2Bsplit_%EC%96%91%EC%A7%80%EC%9A%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

tic2000=pd.read_csv('C:\\Users\\CK\\데이터마이닝\\tic2000.csv')

In [ ]:
tic2000

,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,MRELGE,...,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND,CARAVAN
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,1,0,0,0,0,0,0
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,0
3,9,1,3,3,3,2,3,2,4,5,...,0,0,0,1,0,0,0,0,0,0
4,40,1,4,2,10,1,4,1,4,7,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9817,33,1,2,4,8,0,7,2,0,5,...,0,0,0,1,0,0,0,0,0,0
9818,24,1,2,3,5,1,5,1,3,4,...,0,0,0,1,0,0,0,0,0,1
9819,36,1,2,3,8,1,5,1,3,7,...,0,0,0,1,0,0,0,1,0,0
9820,33,1,3,3,8,1,4,2,3,7,...,0,0,0,0,0,0,0,0,0,0
9821,8,1,2,3,2,4,3,0,3,5,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
X=tic2000[tic2000.columns[:85]]

In [ ]:
X

,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,MRELGE,...,ALEVEN,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,0,1,0,0,0,0,0
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,0,1,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,0,1,0,0,0,0,0
3,9,1,3,3,3,2,3,2,4,5,...,0,0,0,0,1,0,0,0,0,0
4,40,1,4,2,10,1,4,1,4,7,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9817,33,1,2,4,8,0,7,2,0,5,...,0,0,0,0,1,0,0,0,0,0
9818,24,1,2,3,5,1,5,1,3,4,...,1,0,0,0,1,0,0,0,0,0
9819,36,1,2,3,8,1,5,1,3,7,...,0,0,0,0,1,0,0,0,1,0
9820,33,1,3,3,8,1,4,2,3,7,...,0,0,0,0,0,0,0,0,0,0
9821,8,1,2,3,2,4,3,0,3,5,...,0,0,0,0,1,0,0,0,0,0

In [ ]:
y=tic2000['CARAVAN']

In [ ]:
y

0       0
1       0
2       0
3       0
4       0
       ..
9817    0
9818    1
9819    0
9820    0
9821    0
Name: CARAVAN, Length: 9822, dtype: int64

In [ ]:
from imblearn.under_sampling import RandomUnderSampler
from sklearn import neighbors, datasets
undersample = RandomUnderSampler(sampling_strategy='majority',random_state=0)  
X_samp,y_samp = undersample.fit_resample(X,y)
df_samp=pd.concat([X_samp,y_samp],axis=1)

In [ ]:
df_samp

,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,MRELGE,...,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND,CARAVAN
0,23,1,1,1,5,1,4,2,3,4,...,0,0,0,0,0,0,0,0,0,0
1,22,1,2,3,5,0,7,0,2,6,...,0,0,0,1,0,0,0,0,0,0
2,33,1,4,3,8,0,6,0,3,9,...,0,0,0,0,0,0,0,0,0,0
3,33,1,3,3,8,0,9,0,0,9,...,0,0,0,0,0,0,0,0,0,0
4,31,1,2,3,7,1,4,2,3,4,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167,8,1,4,2,2,2,2,2,4,9,...,0,0,0,0,0,0,0,0,0,1
1168,3,1,3,3,1,2,7,0,0,7,...,0,0,0,1,0,0,0,0,0,1
1169,29,1,2,3,7,1,4,1,4,5,...,0,0,0,0,0,0,0,0,0,1
1170,33,1,3,3,8,0,6,1,2,6,...,0,0,0,1,0,0,0,1,0,1
1171,24,1,2,3,5,1,5,1,3,4,...,0,0,0,1,0,0,0,0,0,1

In [ ]:
df_samp['CARAVAN'].value_counts()

1    586
0    586
Name: CARAVAN, dtype: int64

In [ ]:
x_data=df_samp[df_samp.columns[:85]]

In [ ]:
y_data=df_samp['CARAVAN']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.3,random_state=777)